<nav class="navbar navbar-light navbar-expand-lg  justify-content-center  fixed-top shadow-sm   bg-white rounded-0">
                   
        <a href="/" class="navbar-brand d-flex w-50 mr-auto"><img src="assets/p9.png"width="20%" class="img-fluid ml-3" alt="Responsive image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
       
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item active ml-4">
                    <a class="nav-link font-weight-bold" routerLink='/login' style="color:#F05913;">LOGIN</a>
                </li>
                <li class="nav-item ml-4">
                    <a class="nav-link font-weight-bold"   routerLink='/register' style="color:#0D2664;">REGISTER</a>
                </li>
                
            </ul>
            
        </div>
        </div>
    </nav>
    <div class="container-fluid">
        <img src="assets/p15.jpg" alt="Snow" style="width:100%;">
        
        <img src="assets/jobs.png" width="30%"   class="top-left">
        <p class="centered">OJAS<sub class="top">Job Portal</sub></p>
      </div>
    <div class="container-fluid  mt-5">
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8 box effect1 ">
       
                <h3>Open Positions</h3>
                </div>
                <div class="col-2"></div>
    
    
    </div>
    </div>
    <div class="container-fluid  mt-5">
    <div class="row">
    <div class="col-2"></div>
    <div class="col-8 box effect1 ">
           
                    <h3>Junior Developer</h3>
                    </div>
                    <div class="col-2"></div>
    
    
    </div>
    </div>
    <div class="container-fluid  mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 box effect1 ">
               
                        <h3>Senior Developer</h3>
                        </div>
                        <div class="col-2"></div>
       
    
    </div>
    </div>
    <div class="container-fluid  mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 box effect1 ">
                   
                            <h3>Angular Developer</h3>
                            </div>
                            <div class="col-2"></div>
           
    
        </div>
    </div>
    <div class="container-fluid  mt-5">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 box effect1 ">
                       
                                <h3>Java Developer</h3>
                                </div>
                                <div class="col-2"></div>
               
    
            </div>
        </div>